.account {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 13px;
   height: 46px;
   justify-content: right;
   text-decoration: none;
}
.modal {
   // position: absolute;
   position: absolute;
   left: 82%;
   top: 150px;
   // background-color: rgba($color: #000000, $alpha: 0.7);
   .cont {
      background-color: white;
      width: 240px;
      height: 104px;
      padding: 10px;
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      z-index: 10000;
      // margin-left: calc(50% - 250px);
      // margin-top: 150px;

      &::before {
         content: '';
         position: absolute;
         z-index: 0;
         background-color: white;
         box-shadow: 3px -3px 0 3px rgb(255, 255, 255),
                     0px 0px 5px 2px rgba(0, 0, 0, 0.2);
         width: 10px;
         height: 12px;
         transform: rotate(45deg);
         top: 15px;
         left: -7px;
      }

      p {
         text-align: center;
         font-size: 16px;
      }

      .container {
         display: flex;;
         justify-content: space-between;
         padding: 10px;
         button {
            padding: 5px 10px;
            border: 1px solid black;
            border-radius: 6px;
            font-size: 14px;

            &.yes {
               background-color: blue;
               color: white
            }
         }
      }

   }
}
.buttoncontainer {
   width: 100%;
   display: flex;
   justify-content: end;
}

.delete {
   padding: 10px 20px;
   border: 1px solid red;
   color: red;
   border-radius: 6px;
}

.edit {
   padding:  10px 29px;
   border: 1px solid green;
   color: green;
   border-radius: 6px;
   margin-left: 20px;
}

.ava {
   width: 46px;
   height: 46px;
   border-radius: 50%;
   text-decoration: none;
}

.name {
   color: black;
   text-decoration: none;
}