.account {
   display: flex;
   align-items: center;
   gap: 13px;
   height: 46px;
   justify-content: right;
   text-decoration: none;
}

.ava {
   width: 46px;
   height: 46px;
   border-radius: 50%;
   text-decoration: none;
}

.name {
   color: black;
   text-decoration: none;
}